@import "main";
hr {
  width: 25vw;
  border: solid #d6b161;
  border-width: .25rem 0 0 0; 
}
form {
  margin-top: 1rem;
}
input[type="text"], textarea {
  width: 100%;
  margin-top: .4rem;
  padding: 3px 5px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
}
input[type="text"] {
  height: 2rem;
  margin-bottom: 1rem;
}
input[type="submit"] {
  position: relative;
  width: 100px;
  height: 40px;
  left: 50%;
  margin-top: 1rem;
  border-radius: 30px;
  font-size: 1.1rem;
  transform: translate(-50%);
}
textarea {
  resize: none;
}
label {
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.btn {
  position: absolute;
  right: 1.2rem;
  width: 60px;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
.errorMsg {
  padding: 2px 5px;
  color: #d9534f;
  border: 1px #d9534f solid;
  border-radius: 5px;
  font-size: 1rem;
}