@import "main";
body {
  background-image: url('../img/thatCat.jpg');
  background-size:  cover ;
  background-repeat: no-repeat;
}
hr {
  width: 25vw;
  border: solid #d6b161;
  border-width: .25rem 0 0 0; 
}
.card {
  text-align: center;
  opacity: .8;
}
.btn {
  display: inline-block;
  width: 100px;
  margin: 1rem;
}
@media (max-width: 500px) {
  body {
    height: 100vh;
    background-position: 50%;
  }
}