<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>管理頁面</title>
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <div class="card">
    <h1>訊息紀錄頁面<h1>
    <h1 class="noRWD">No RWD yet</h1>
    <a href="/contact" class="btn goback">Back</a>
    <div class="table">
      <div class="row header">
        <p class="t-num">#</p>
        <p class="t-title">標題</p>
        <p class="t-name">名稱</p>
        <p class="t-email">信箱</p>
        <p class="t-btn">內容</p>
        <p class="t-btn">刪除</p>
      </div>
      <hr class="main" />
      <%- mails%>
    </div>
  </div>
  <div class="board">
    <div class="content">
      <h3 class="title"></h2>
      <h3 class="name"></h3>
      <p class="des"></p>
      <button class="btn btn-close">X</button>
    </div>
  </div>

  <input id="token" type="hidden" name="_csrf" value="<%= csrfToken %>">
  <script src="/js/main.js"></script>
</body>
</html>