<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <title>傳送成功
  </title>
  <link rel="stylesheet" href="/css/review.css"/>
</head>
<body>
  <div class="card">
    <h1>傳送成功</h1>
    <hr>
    <p>那貓是我當替代役的時候隨手拍到的，</p>
    <p>覺得非常可愛，所以也給你看一下。</p>
    <a class="btn" href="/contact">回到上一頁</a>
  </div>
</body>

</html>