<!DOCTYPE html>
<html>
<head>
    <title>傳送成功
    </title>
    <link rel="stylesheet" href="/css/review.css"/>
</head>
<body>
  <div class="card">
    <h1>傳送成功</h1>
    <hr>
    <p>左邊的貓是我在當替代役的時候隨手拍到的，</p>
    <p>覺得非常可愛，所以也給你看一下。</p>
    <a class="btn" href="/contact">回到上一頁</a>
  </div>
</body>

</html>