@charset "UTF-8";
* {
  font-family: Spoqa Han Sans,Spoqa Han Sans JP,Noto Sans Korean,sans-serif,arial,Microsoft JhengHei,'微軟正黑體';
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #121212; }

h1, p {
  color: #222; }

h1 {
  margin: 0;
  text-align: center; }

h3 {
  margin: 0; }

p {
  margin: 0;
  font-size: 1.1rem; }

.btn {
  border-radius: 30px;
  border: 1px solid #fff;
  font-size: 16px;
  background-color: transparent;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-color: #222;
  color: #222;
  text-decoration: none;
  text-align: center; }
  .btn:hover {
    background-color: #222;
    color: #d6b161; }

.card {
  position: relative;
  width: 95%;
  max-width: 450px;
  margin: 3rem auto 0 auto;
  padding: 1.2rem;
  border-radius: 10px;
  background-color: #ededed; }

hr {
  width: 25vw;
  border: solid #d6b161;
  border-width: .25rem 0 0 0; }

form {
  margin-top: 1rem; }

input[type="text"], textarea {
  width: 100%;
  margin-top: .4rem;
  padding: 3px 5px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem; }

input[type="text"] {
  height: 2rem;
  margin-bottom: 1rem; }

input[type="submit"] {
  position: relative;
  width: 100px;
  height: 40px;
  left: 50%;
  margin-top: 1rem;
  border-radius: 30px;
  font-size: 1.1rem;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%); }

textarea {
  resize: none; }

label {
  font-size: 1.2rem;
  letter-spacing: 2px; }

.goAdmin {
  position: absolute;
  right: 1.2rem;
  width: 60px;
  height: 30px; }

.errorMsg {
  padding: 2px 5px;
  color: #d9534f;
  border: 1px #d9534f solid;
  border-radius: 5px;
  font-size: 1rem; }

@media (max-width: 400px) {
  .goAdmin {
    top: .3rem;
    right: .3rem; } }
